/* Placeholder pictures */
.placeholder {
    display: block;
    background-color: #777;
}

.ph-300x300 {
    width: 300px;
    height: 300px;
}

.ph-150x150 {
    width: 150px;
    height: 150px;
}

.ph-250x250 {
    width: 250px;
    height: 250px;
}

.ph-full {
    width: 100%;
    min-height: 200px;
}

.ph-article {
    width: 100%;
    min-height: 400px;
}


/* Text */
.text-justify {
    text-align: justify;
}

/* Custom links */
.articles a, .lead-article a {
    text-decoration: none;
}

/* Custom positioning */
header { margin-bottom: 10rem !important; }
header .navbar { padding: 1.5em; }
header .navbar-brand img { height: 2em; }
header .navbar .nav-item:nth-child(1) { border-right: solid 1px white; }
header .navbar .nav-item {
    min-width: 80px;
    text-align: center;
}

header .navbar .nav-item a {
    color: white;
}

header .navbar .nav-item.active {
    border: solid 1px white;
}

footer p {
    margin-bottom: 0;
}

/* color */
.text-grey {
    color: #777;
}

.bg-blue {
    background-color: #12146a;
}

.articles .container-fluid:nth-child(even) {
    background-color: #f2f9ff;
}

input[type="search"] {
    border-color: white;
    border-radius: 0;
    transition: background-color 0.25s linear;
    background-color: #12146a;
}

input[type="search"]:focus {
    background-color: white;
}

/* buttons */
.box-btn {
    border-width: 1px;
    border-style: solid;
    padding: 1em;
    text-decoration: none;
    border-radius: 0;
}

.btn-light-border {
    border-color: white;
    color: white;
}

.btn-dark {
    border-color: #12146a;
    background-color: #12146a;
    color: white;
}

.btn-dark:hover {
    background-color: white;
    color: #12146a;
}

.btn-basic:hover {
    background-color: white;
}

.btn-size-mid {
    display: block;
    width: 100%;
}

.prev::before {
    content: '< ';
}

.next::after {
    content: ' >';
}

.border-white { border-color: white; }
.border-blue { border-color: #12146a; }

:not(.lead-article) .link-secondary {
    padding-top: calc(var(--bs-gutter-x)* .5);
    transition: border-color 0.25s linear;
    border: solid 1px rgba(220,220,220,0)
}

.link-secondary:hover { border-color: rgba(220,220,220,1); }

/* forms */
.form-group input.form-control {
    line-height: 2rem;
}

.login-register-form {
    background-color: #f2f9ff;
}

.login-register-form .form-group {
    /* margin-top: 3rem; */
    min-height: 120px;
}

.login-register-form button {
    padding: 6px 12px;
    line-height: 2em;
}

.login-register-form .form-group:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}