/* Placeholder pictures */
.placeholder {
    display: block;
    background-color: #777;
}

.ph-300x300 {
    width: 300px;
    height: 300px;
}

.ph-150x150 {
    width: 150px;
    height: 150px;
}

.ph-250x250 {
    width: 250px;
    height: 250px;
}

.ph-full {
    width: 100%;
    min-height: 200px;
}

.ph-article {
    width: 100%;
    min-height: 400px;
}


/* Text */
.text-justify {
    text-align: justify;
}

/* Custom links */
.articles a, .lead-article a {
    text-decoration: none;
}

/* Custom positioning */
header { margin-bottom: 10rem !important; }
header .navbar { padding: 1.5em; }
header .navbar-brand img { height: 2em; }
header .navbar .nav-item:nth-child(1) { border-right: solid 1px white; }
header .navbar .nav-item {
    min-width: 80px;
    text-align: center;
}

header .navbar .nav-item a {
    color: white;
}

header .navbar .nav-item.active {
    border: solid 1px white;
}

footer p {
    margin-bottom: 0;
}

/* color */
.text-grey {
    color: #777;
}

.bg-blue {
    background-color: #12146a;
}

.articles .container-fluid:nth-child(even) {
    background-color: #f2f9ff;
}

input[type="search"] {
    border-color: white;
    border-radius: 0;
    transition: background-color 0.25s linear;
    background-color: #12146a;
}

input[type="search"]:focus {
    background-color: white;
}

/* buttons */
.box-btn {
    border-width: 1px;
    border-style: solid;
    padding: 1em;
    text-decoration: none;
}

.btn-basic {
    border: solid 1px white;
    border-radius: 0;
    color: white;
}

.btn-basic:hover {
    background-color: white;
}

.btn-size-mid {
    display: block;
    width: 100%;
}

.prev::before {
    content: '< ';
}

.next::after {
    content: ' >';
}

.border-white { border-color: white; }
.border-blue { border-color: #12146a; }

